body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}
body {
  display: flex;
  background-color: #9fcfc9;
  flex-direction: column;
  justify-content: space-between;
}
header,
footer {
  border: 2px solid #000;
}
header {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #ad25c9;
  height: 48px;
}
footer {
  background-color: #000000;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
main {
  border: #000000 solid 2px;
}
/* ============================== */
*{
  transition: all ease 1s;
}
main {
  background: linear-gradient(
    60deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(74, 224, 41) 25%,
    rgb(224, 78, 41) 75%,
    rgba(9, 9, 121, 1) 100%
  );
  color: #fff;
}
main p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  color: #cbf784c4;
}
